body{
	margin:0 auto;
	background:#edcf72;
	margin-top:0px;
	padding-top:0;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
.container{
	/* border:2px solid #776e65; */
	margin-top:-20px;
	margin:0 auto;
	text-align:center;
	background:#edcf72;
}
h1.title a {
	font-size:80px;
    text-decoration: none;
    font-family:"华文彩云";
}
.gameboy {
	font-variant
	font-style:italic;
	font-family:"华文彩云";
	font: bold italic;
	color:hotpink;
	
}
a{
	color:#776e65;
	font-weight:bold;
	cursor:pointer;
	text-decoration: none;
}
.title{
	margin-top:20px;
	font:bold 70px Arial;
	/* font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif; */
}
.scores-container{
	width:500px;
	display:flex;
	/* border:1px solid black; */
	justify-content:space-between;
	margin-left:10%;
	margin:0 auto;
}
.scores-wrapper{
	width:120px;
	position:relative;
	display:inline-block;
	background:#8f7a66;
	padding: 15px 25px;
	font-size: 18px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    border-radius: 3px;
    color:white;
    text-align: center;
    display:flex;
}
.newgame-wrapper{
	width:120px;
	position:relative;
	display:inline-block;
	background:#8f7a66;
	padding: 15px 25px;
	font-size: 20px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    border-radius: 3px;
    text-align:center;
    
}
 .newgame-wrapper:hover{
	background:yellow;
}
.newgame-wrapper a{
	color:white;
}
#game-container{
	width:460px;
	height:460px;
	padding:20px;
	background-color:#bbada0;
	margin:20px auto;
	border-radius:10px;
	position:relative;
}
#game-container .grid-cell{
	width:100px;
	height:100px;
	background-color:#ccc0b3;
	border-radius:6px;
	position:absolute;
}
#game-container .number-cell{
	border-radius:6px;
	position:absolute;
	background-color:red;
	font:bold 40px Arial;
	text-align:center;
	line-height:100px;
}
